---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Skills from "../sections/Skills.astro";
import Projects from "../sections/Projects.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";
import About from "src/sections/About.astro";
---

<Layout title="Karen Moran | Full-Stack Developer">
  <main>
    <Hero />
    <Projects />
    <About />
    <Skills />
    <Contact />
    <Footer />
  </main>
</Layout>
