---
interface Props {
	title: string;
}

const { title } = Astro.props; 
---
<section class="flex flex-col justify-center w-full h-auto px-6 bg-light dark:bg-dark text-black dark:text-white">
  <h2 class="text-3xl font-semibold mb-6 text-center">{title}</h2>
  <slot />
</section>