---
interface Props {
	title: string;
}

const { title } = Astro.props; 
---
<section class="flex justify-center px-6 bg-light dark:bg-dark text-black dark:text-white size-full">
  <div class="flex flex-col items-center content-center w-full max-w-[420px] md:max-w-[1440px] m-0">
    <h2 class="text-3xl md:text-5xl font-semibold mb-6">{title}</h2>
    <slot />
  </div>
</section>