---
---
<button type="submit" class="flex items-center justify-center py-4 bg-purpleDark dark:bg-purpleLight shadow-md
  shadow-purpleDark dark:shadow-purpleLight text-light dark:text-dark font-semibold rounded-xl h-10 md:text-xl">
  Send Message
</button>