---
interface Props {
  togglerId: string
}

const {togglerId} = Astro.props; 
---

<button id={togglerId}>
  <ion-icon class="theme hidden md:block text-3xl md:text-2xl cursor-pointer mx-2 text-black dark:text-white"
  name="sunny-outline"></ion-icon>
</button>

<script define:vars={{togglerId}}>
  const toggleButton = document.getElementById(togglerId);

  

  const icon = document.querySelector('.theme');


  if (localStorage.theme === 'dark') {
    icon.setAttribute("name", "sunny");
  } else {
    icon.setAttribute("name", "moon");
  }
  
  toggleButton.addEventListener('click', () => {
    if (localStorage.theme === 'dark') {
      localStorage.theme = 'light';
      document.documentElement.classList.remove('dark');
      document.body.classList.remove('dark');
      icon.setAttribute("name", "moon");
    } else {
      localStorage.theme = 'dark';
      document.documentElement.classList.add('dark');
      document.body.classList.add('dark');
      icon.setAttribute("name", "sunny");
    }
  })
</script>
