<header class="flex justify-center bg-dark w-full fixed top-0 z-[2]">
  <nav class="flex justify-between items-center py-6 px-6 content-center relative w-full max-w-[1440px] m-0">
    <div class="flex justify-between items-center">
      <img
        class="w-[45px] h-[45px]"
        src="/Logo.png" 
        alt="Karen logo"
      />  
    </div>

    
    <ul class="flex flex-row items-center justify-center static  size-auto left-0 top-0 bg-none
    z-auto  gap-x-[32px] my-0 text-center" >
      <li>
        <a href="/about" class="text-white text-xl hover:text-grayLight duration 500">About</a>
      </li>
      <li>
        <a href="/skills" class="text-white text-xl hover:text-grayLight duration 500">Skills</a>
      </li>
      <li>
        <a href="/projects" class="text-white text-xl hover:text-grayLight duration 500">Projects</a>
      </li>
      <li>
        <a href="/contact" class="text-white text-xl hover:text-grayLight duration 500">Contact</a>
      </li>
    </ul>
  </nav>
  
</header>