---
import ThemeButton from "../components/ThemeButton.astro"
---
<header class="flex justify-center bg-light dark:bg-dark text-black dark:text-white w-full fixed top-0 z-[2]">
  <nav class="flex justify-between items-center p-6 content-center w-full max-w-[1440px] m-0">
    <div class="flex flex-row items-center gap-x-5">
      <img
        class="size-11"
        src="/favicon.png" 
        alt="Karen logo"
      />  
      <label for="name" class="text-2xl">Karen Moran</label>
    </div>

    <div class="flex flex-row">
      <ul class="flex flex-row items-center justify-center gap-x-8 text-xl" >
        <li>
          <a href="/about" class="hover:text-grayLight duration 500">About</a>
        </li>
        <li>
          <a href="/skills" class="hover:text-grayLight duration 500">Skills</a>
        </li>
        <li>
          <a href="/projects" class="hover:text-grayLight duration 500">Projects</a>
        </li>
        <li>
          <a href="/contact" class="hover:text-grayLight duration 500">Contact</a>
        </li>
      </ul>

      <div class="flex ml-6 pl-6 border-l border-graylight gap-x-4">
        <a rel="githubpage" href="https://github.com/karenamg" target="_blank" class="flex items-center"> <ion-icon class="text-2xl cursor-pointer mx-2 text-black dark:text-white" name="logo-github"></ion-icon></a>
        <a rel="linkedinpage" href="https://www.linkedin.com/in/ing-karen-moran/" target="_blank" class="flex items-center"><ion-icon class="text-2xl cursor-pointer mx-2 text-black dark:text-white" name="logo-linkedin"></ion-icon></a>
        <ThemeButton />
      </div>
    </div>
  </nav>
</header>