---
import Section from "../components/Section.astro"
---
<Section title="">
  <div class="flex justify-center mt-20 mb-4">
    <img class="rounded-full size-64"
    src="photo.jpeg" alt="Karen photo">
  </div>
</Section>