---
import Section from "src/components/Section.astro";
---

<Section id="about" title="About me">
  <div class="flex flex-col justify-center gap-y-10">
    <p class="md:text-lg w-full md:max-w-[520px] lg:max-w-[820px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <button
      type="button"
      id="open-pdf-button"
      class="flex items-center justify-center py-4 bg-purpleDark dark:bg-purpleLight w-40
      h-10 m-auto text-light dark:text-dark font-semibold rounded-xl h-10 md:text-lg"
    >
      Resume
    </button>
  </div>
</Section>

<script>
  const button = document.getElementById("open-pdf-button");

  button.addEventListener("click", () => {
    window.open("/karen-moran-resume.pdf", "_blank");
  });
</script>
