---
import Section from "src/components/Section.astro";
---

<Section id="about" title="About me">
  <div
    class="flex flex-col justify-center gap-y-8 md:text-lg w-full md:max-w-[520px] lg:max-w-[820px]"
  >
    <p>
      Hello, my name is Karen Moran, and I am a 23-year-old full stack web
      developer. I hold a degree in Software Engineering from the Universidad
      Catolica Andres Bello. With one year of professional experience in web and
      mobile development. I have worked extensively with various React
      frameworks, SQL and NoSQL databases, as well as in the field of quality
      assurance and software testing automation.
    </p>
    <p>
      I possess strong communication skills, along with a keen analytical
      mindset. I thrive in team environments, where I can contribute my
      creativity and collaborate with others. Being self-taught, I have a
      natural ability to learn quickly and adapt to new technologies. My true
      passion lies in crafting innovative, high-quality, and user-friendly
      technological solutions that meet user needs while maintaining the utmost
      standards of quality.
    </p>
    <button
      type="button"
      id="open-pdf-button"
      class="flex items-center justify-center py-4 bg-purpleDark dark:bg-purpleLight w-40
      h-10 m-auto text-light dark:text-dark font-semibold rounded-xl h-10 md:text-lg"
    >
      Resume
    </button>
  </div>
</Section>

<script>
  const button = document.getElementById("open-pdf-button");

  button.addEventListener("click", () => {
    window.open("/karen-moran-resume.pdf", "_blank");
  });
</script>
