---
import Section from "../components/Section.astro"
---
<Section id="" title=""> 
  <div class="flex justify-center">
    <img class="rounded-full size-64"
    src="photo.jpeg" alt="Karen profile pic">
  </div>
</Section>