---
import Desktop from '../desktop/ProjectsDesktop.astro';
import Mobile from '../mobile/ProjectsMobile.astro';
import Section from 'src/components/Section.astro';
---

<Section id="projects" title="Projects">
  <div class="block lg:hidden">
    <Mobile />
  </div>

  <div class="hidden lg:block">
    <Desktop /> 
  </div>
</Section>